# Eureka Server集群配置 - 节点2
server:
  port: 8762

spring:
  application:
    name: eureka-server
  security:
    user:
      name: eureka
      password: eureka123

eureka:
  instance:
    hostname: peer2
    prefer-ip-address: false
    instance-id: ${spring.application.name}:${server.port}
    
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      # 注册到peer1和peer3
      defaultZone: http://eureka:eureka123@peer1:8761/eureka/,http://eureka:eureka123@peer3:8763/eureka/
  
  server:
    enable-self-preservation: true
    renewal-percent-threshold: 0.85
    eviction-interval-timer-in-ms: 60000

logging:
  level:
    root: INFO
    com.netflix.eureka: DEBUG
    com.netflix.discovery: DEBUG
