<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huabin.transactional.mapper.PricesMapper">
  <resultMap id="BaseResultMap" type="com.huabin.transactional.entity.Prices">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="price" jdbcType="REAL" property="price" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prices
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huabin.transactional.entity.Prices">
    insert into prices (pid, category, price
      )
    values (#{pid,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, #{price,jdbcType=REAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.huabin.transactional.entity.Prices">
    update prices
    set category = #{category,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select pid, category, price
    from prices
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select pid, category, price
    from prices
  </select>
</mapper>